<div class="card">
  <div
    style="
      border-radius: 200px;
      height: 200px;
      width: 200px;
      background-color: #f8faf9;
      margin: 0 auto;
    "
  >
    <img
      style="width: 188px"
      src="https://freepngimg.com/save/18343-success-png-image/1200x1200"
    />
  </div>
  <h2>Order has Placed Successfully!</h2>
  <strong style="margin-left: 32px">Thank's u For Shopping With Us!</strong>
  <h5 style="margin-top: 20px; margin-left: 40px; color: green">
    Kindly Pay Amount&nbsp;<strong style="color: blue"
      >${{ totalamount }}</strong
    >&nbsp;during delivery
  </h5>
</div>
